
beautifulsoup4>=4.13.4
bip32utils>=0.3.post4
exifread>=3.3.0
flask>=3.1.0
gunicorn>=23.0.0
hashid>=3.1.4
mnemonic>=0.21
numpy>=2.0.2
openai>=1.77.0
opencv-python>=4.11.0.86
passlib>=1.7.4
pdfkit>=1.0.0
pillow>=11.2.1
pycryptodome>=3.22.0
requests>=2.32.3
scapy>=2.6.1
stem>=1.8.2
trafilatura>=2.0.0
python-dotenv>=1.0.0
Werkzeug>=2.3.7
beautifulsoup4
flask
gunicorn
requests
beautifulsoup4
flask
gunicorn
requests
